
.banner{
    padding: 5px 10px 0px 50px;
    display: flex;
    justify-content: space-around;
    width: 1920px;
    height: 700px;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}
.title{
    margin-left: 80px;
    margin-bottom: 30px;
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.description{
    margin-left: 80px;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    width: 634px;
}
.banner-img{
    width: 450px;
    height: 710px;
    margin-right: 10px;
}
.btn{
    margin-left: 80px;
    color: white;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}
.featured-flowers{
    width: 1920px;
    height: 1000px;
}
.features{
    text-align: center;
}
.title1{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.description1{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.featured-flowers-images{
   display: flex;
   justify-content: space-around;
}
.flower-tree1{
    align-items: center;
    background: rgba(167, 33, 98, 0.15);
}
.flower-tree2{
    background: rgba(5, 151, 160, 0.15);
}
.flower-tree3{
    background: rgba(71, 125, 17, 0.15);
}
.hot-deal-sale{
    padding: ;
    width: 1920px;
    height: 580px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
   
.title2{
    margin-left: 150px;
    color: #272727;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 800;
}
.description2{
    margin-left: 190px;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
}
.btn2{
    margin-left: 270px;
    color: white;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
}
.primary{
    color: #E55473;
}
.social{
    margin-bottom: 10px;
    text-align: center;
}
.title3{
    margin-bottom: 24px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.description3{
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.social-images{
    column-gap: 20px;
   
}
.last-banner{
    background-image: url("./images/Rectangle\ 9.png");
   margin: 200px 100px 150px 350px ;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
}
.title4{
    color: #272727;
   padding: 100px 100px 10px  100px;
   margin-bottom: 2px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.description4{
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.subcription {
    margin-left: 600px;
    width: 700px;
    height: 64px;
    background: #FFF;}
.btn3{
    color: white;
    background-color: #E55473;
    text-align: center;
}
.ending{
    color: rgba(255, 255, 255, 0.90);
    padding: 130px 90px 100px 90px;
    background: #111010;
    width: 1800px;
    height: 200px;
    text-align: center;
}
.description5{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.ending-description{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
